<h1>adminリストに追加</h1>

<%= form_for [:admin, @artist] do |artist| %>
　<h3>アーティスト</h3> <%= artist.text_field :artist_name %>
<%= artist.submit '新規追加' %>
<% end %>

<h3>アーティスト</h3>
<select name="" multiple>
	<% @artists.each do |artist|%>
	<option value=""><%= artist.artist_name %></option>
	<% end %>
</select>


<%= form_for [:admin, @label] do |k| %>

　<h3>レーベル</h3> <%= k.text_field :label_name %><%= k.submit '新規追加' %>

<% end %>

<h3>レーベル</h3>
<select name="" multiple>
	<% @labels.each do |label|%>
	<option value=""><%= label.label_name %></option>
	<% end %>
</select>


<%= form_for [:admin, @genre] do |k| %>

　<h3>ジャンル</h3> <%= k.text_field :genre_name %><%= k.submit '新規追加' %>

<% end %>

<h3>ジャンル</h3>
<select name="" multiple>
	<% @genres.each do |genre|%>
	<option value=""><%= genre.genre_name %></option>
	<% end %>
</select>
