
<div class="container">
   <div class="row">
        <div class="col-md-10">

			<h1>adminリストに追加</h1>

			<%= form_for [:admin, @artist] do |artist| %>
			　<h3>アーティスト</h3> <%= artist.text_field :artist_name %>
			 <%= artist.submit '新規追加' %>
			<% end %>


			<h3>アーティスト</h3>
			<select name="" multiple>
				<% @artists.each do |artist|%></a>
				<option value=""><%= artist.artist_name %></option>
				<% end %>
			</select>


			<%= form_for [:admin, @label] do |k| %>

			　<h3>レーベル</h3> <%= k.text_field :label_name %><%= k.submit '新規追加' %>

			<% end %>


			<h3>レーベル</h3>
			<select name="" multiple>
				<% @labels.each do |label|%>
				<option value=""><%= label.label_name %></option>
				<% end %>
			</select>



			<%= form_for [:admin, @genre] do |k| %>

			　<h3>ジャンル</h3> <%= k.text_field :genre_name %><%= k.submit '新規追加' %>

			<% end %>

			<h3>ジャンル</h3>
			<select name="" multiple>
				<% @genres.each do |genre|%>
				<option value=""><%= genre.genre_name %></option>
				<% end %>
			</select>
			<%= link_to"戻る", new_admin_cd_path %>
		</div>
	</div>
</div>

<h1>アーティスト</h1>
<% @artists.each do |artist|%></a>
  <%= artist.artist_name %>
  <%= link_to "削除", admin_artist_path(artist), method: :delete %>
<% end %>

<h1>レーベル</h1>
<% @labels.each do |label|%>
　<%= label.label_name %>
　<%= link_to "削除", admin_label_path(label), method: :delete %>
<% end %>

<h1>ジャンル</h1>
<% @genres.each do |genre|%>
  <%= genre.genre_name %>
  <%= link_to "削除", admin_genre_path(genre), method: :delete %>
<% end %>
