<div class="nested-fields">
  <h4>disc</h4><%= f.number_field :disc_rank %>
<h4>Title</h4>
  <%= f.text_field :disc_title %>

       <%= f.fields_for :musics do |form| %>
       <%= link_to_remove_association "ディスクを削除", f %>
       <%= render "music_fields", f: form %>
  <% end %>

 <h4>disc</h4><%= f.number_field :disc_rank %><h4>Title</h4
  <%= f.text_field :disc_title %>

   <%= f.fields_for :musics do |form| %>
    <%= link_to_remove_association "ディスクを削除", f %>
    <%= render "music_fields", f: form %>
   <% end %>
</div>