<div class="nested-fields">



 <%= flash[:dics]%>
 <h4>disc</h4><%= f.number_field :disc_rank %>

 <%= flash[:disctitle]%>
 <h4>Title</h4><%= f.text_field :disc_title %>

   <%= f.fields_for :musics do |form| %>
    <%= link_to_remove_association "ディスクを削除", f %>
    <%= render "music_fields", f: form %>
   <% end %>
  <div class="links">
    <%= link_to_add_association "曲を追加", f, :musics %>
  </div>
</div>