<div class="nested-fields">
   <p><%= f.number_field :music_rank %></p>
   <%= f.text_field :music_title %>

   <%= link_to_remove_association "曲を削除", f %>



   <p>p><%= f.number_field :music_rank %></p></p>

  <%= f.text_field :music_title %>

  <%= link_to_remove_association "曲を削除", f %>

</div>