<div class="nested-fields">
	<h4>曲順</h4>
   <p><%= f.number_field :music_rank %></p>
   <h4>曲名</h4>
   <%= f.text_field :music_title %>
   <%= link_to_remove_association "曲を削除", f %>

  <h4>曲順</h4>
   <p><%= f.number_field :music_rank %></p>
　<h4>曲名</h4>
  <%= f.text_field :music_title %>
  <%= link_to_remove_association "曲を削除", f %>

</div>