<div class="container">
   <div class="row">
        <div class="col-xs-3">
		  <%= render 'admin/users/sidebar' %>
        </div>

      <div class="col-xs-9">
        <h1>admin商品管理一覧</h1>
             <h3 class="pull-right">表示数1~10件</h3>

          <%= form_tag(admin_cds_path, :method => 'get') do %>
           <%= select_tag(:option, options_for_select([["アーティスト名", "a"],["曲名","t"],["ステータス","s"]]))%>
             <%= text_field_tag :search %>
              <%= submit_tag '検索' %>

           <% end %>

          <% if @search_option == "a" %>
            <table>
              <% @search_a.each do |artist| %>
                <tr>
                  <th><%= artist.artist_name %>
              <% end %>
            </table>

          <% elsif @search_option == "t" %>
            <table>
              <% @search_t.each do |cd| %>
                <th><%= cd.cd_title %>
              <% end %>
            </table>

          <% elsif @search_option == "s" %>
            <table>
              <% @search_s.each do |cd| %>
                <th><%= cd.cd_title %>
              <% end %>
            </table>

        <% end %>

             <h1>商品一覧</h1>
              <table>
                  <tr>
                    <th>入荷日時</th>
                    <th>アーティスト名</th>
                    <th>タイトル</th>
                    <th>値段</th>
                    <th>ステータス</th>
                  </tr>
                <% @cds.each do |cd| %>
                  <% cd.restocks.each do |restock| %>
                    <tr>
　　　　　　　　　　　　　<td><%= restock.restock_date %></td>
                      <td><%= cd.artist.artist_name %></td>
                      <td><%= cd.cd_title %></td>
                      <td><%= cd.price %></td>

                      <td><%= cd.status %></td>
                       <td><%= link_to "入荷を追加する", new_admin_restock_path(@cds), class:"btn btn-primary" %>

                           <td><%= link_to "編集", edit_admin_cd_path(cd.id),   class:"btn btn-success" %></td>
                  　</tr>
               <% end %>
               <% end %>

              </table>
       </div>
   </div>
</div>
<div class="pagiWrapper">
  <%= paginate @cds %>
</div>