<!--<h1>admin新規入荷作成</h1>-->
<h1>新規入荷作成</h1>

<%= form_for(@cd, url: admin_cds_path) do |f| %>
<ul>
    <li>ジャケット選択：<%= file_field_tag "images[]", type: :file, multiple: true %></li>
</ul>

<h3>アーティスト</h3>
<select name="" multiple>
	<% @artists.each do |artist|%>
	<option value=""><%= artist.artist_name %></option>
	<% end %>
</select>
<h4>タイトル</h4>
<%= f.text_field :cd_title %>

<h4>価格（税別）</h4>
<%= f.text_field :price %>

<h4>発売日</h4>
<%= f.date_field :release_date%>
<h4>レーベル</h4>
<select name="" multiple>
	<% @labels.each do |label|%>
	<option value=""><%= label.label_name %></option>
	<% end %>
</select>

<h3>ジャンル</h3>
<select name="" multiple>
	<% @genres.each do |genre|%>
	<option value=""><%= genre.genre_name %></option>
	<% end %>
</select>


<%= f.fields_for :discs do |disc| %>
　　<%= render "disc_fields", f: disc %>
<% end %>
<div class="links">
 <%= link_to_add_association "discを追加", f, :discs %>

</div>

<h4>ステータス</h4>


<h4>入荷数</h4>
<%= f.number_field :restock_id %>
  <%= f.submit '新規入荷作成' %>

<% end %>


