<div class="container">
   <div class="row">
        <div class="col-xs-3">
		  <%= render 'admin/users/sidebar' %>
        </div>


		<div class="col-xs-9">
		  <h1>adminレビュー一覧</h1>
		  	<table class="table table-striped">
				<tr>
	              <th>ID</th>
	              <th>名前</th>
	              <th>フリガナ</th>
	              <th>CDタイトル</th>
	              <th>レビュー内容</th>
	              <th> </th>
	            </tr>
	            <tr>
			    <% @reviews.each do |r| %>
			    <tr>
			      <td><%= r.user.id %></td>
				  <td><%= r.user.lastname %><%= r.user.firstname %></td>
	              <td><%= r.user.lastname_kana %><%= r.user.firstname_kana %></td>
				  <td><%= r.cd.cd_title %></td>
				  <td><%= r.comment %></td>
				  <td><%= link_to "削除", admin_review_path(r), method: :delete, data: {confirm: '本当に削除してもいいですか？'} %></td>
				</tr>
			    <% end %>
            </table>
		</div>
    </div>
</div>
<div class="pagiWrapper">
 <%= paginate @reviews %>
</div>