<div class="container">
   <div class="row">
      <div class="col-xs-3">
    		  <%= render 'admin/users/sidebar' %>
      </div>
      <div class="col-xs-9">
  		  <h1>admin入荷履歴</h1>
         <h3 class="pull-right">表示数1~10件</h3>
          <script type="text/javascript">
               $(function() {
                $('h3').css('color','lime');
               });
          </script>

  	　　　<table class="table table-bordered">
    		    <tr class="active">
    		      <th>アーティスト</th>
                <th>アルバム名</th>
                <th>入荷日</th>
                <th>数量</th>
              </tr>

              <% @restocks.each do |restock| %>
                <tr>
                  <td class="active"><%= restock.cd.artist.artist_name %></td>
                  <td class="active"><%= restock.cd.cd_title %></td>
                  <td class="active"><%= restock.restock_date %></td>
                  <td class="active"><%= restock.restock_count %></td>
                </tr>
              <% end %>
           </table>
		    </div>
    </div>
</div>


<div class="pagiWrapper">
 <%= paginate @restocks %>
</div>
