<div class="container">
   <div class="row">
        <div class="col-xs-3">
		  <%= render 'admin/users/sidebar' %>
        </div>


		<div class="col-xs-9">
		  <h1>admin受注一覧</h1>
		   <h3 class="pull-right">表示数1~10件</h3>
		   <table>
		   	<thead>
		   		<tr>
		   			<th>ID</th>
		   			<th>名前</th>
		   			<th>ステータス</th>
		   			<th></th>
		   		</tr>
		   	</thead>
		   	<% @orders.each do |o| %>
		   	<tbody>
		   		<tr>
		   			<td><%= o.order_id %></td>
		   			<td><%= o.order_user_id%></td>
		   			<td><%= o.deliver_status %></td>
		   			<td><%= link_to "詳細", show_admin_order_path(user.id) %></td>
		   		</tr>
		   	</tbody>
		   	<% end %>
		   </table>
		</div>
    </div>
</div>

<div class="pagiWrapper">
  <%= paginate @orders %>
</div>
