<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'admin/users/sidebar' %>
    </div>
      <div class="col-xs-9">
        <h1>admin受注詳細</h1>
          <table class="table table-striped" >
            <tbody>
              <tr>
                <td><%= @order.id %></td>
                <td><%= @order.created_at %></td>
                <td><%= @order.user.lastname_kana %></td><td><%= @order.user.firstname_kana %></td>
                <td><%= @order.firstname %></td><td><%= @order.lastname %></td>
                <td><%= @order.user.phone %></td>
                <td><%= @order.user.email %></td>
                <td><%= @order.postalcode %></td>
                <td><%= @order.address %></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-striped" >
            <thead>
              <tr>商品ID</tr>
              <tr>アーティスト</tr>
              <tr>CDタイトル</tr>
              <tr>個数</tr>
            </thead>
            <% @order.order_cds.each do |o| %>
            <tbody>
              <td><%= o.cd_id %></td>
              <td><%= o.cd.artist.artist_name %></td>
              <td><%= o.cd.cd_title %></td>
              <td><%= o.order_cd_count %></td>
              <% end %>
            </tbody>
          </table>
          <table class="table table-striped" >
            <thead>
              <tr>送料</tr>
              <tr>合計</tr>
            </thead>
            <tbody>
              <td><%= @order.deliver_fee %></td>
              <td><%= @order.total %></td>
            </tbody>
            <tbody>
              <td><%= @order.deliver_status %></td>

            </tbody>
            <tbody>
              <td><%= link_to "back", admin_orders_path %></td>
            </tbody>
          </table>
    </div>
  </div>
</div>
