
<div class="container">
	<div class="row">

		<div class="col-lg-11">
			<h1 class="text-left">購入履歴ページ</h1>
			<h3 class="text-right">表示数1~10件</h3>


	<div class="row">
	<div class="col-lg-10 col-sm-offset-1">
	<% if flash[:buy] %>
		<h4 class="alert-danger alert-buy text-center">
		<%= flash[:buy] %></h4>
		<% end %>
<% @orders.each do |i| %>
	<div class="panel panel-default">
		<div class="panel-heading">
			購入日時 : <%= i.created_at.strftime("%Y-%m-%d %H:%M") %>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-9">
					送付先住所 : <%= i.address %>
				</div>
				<div class="col-lg-3">
					合計 : <%= i.total %>円（税込）
				</div>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>タイトル</th>
					<th>アーティスト</th>
					<th>枚数</th>
					<th>ステータス</th>
					<th> </th>
				</tr>
			</thead>

			<tbody>
			  <% i.order_cds.each do |o| %>
				<tr>
					<td><%= o.cd.cd_title %></td>
					<td><%= o.cd.artist.artist_name %></td>
					<td><%= o.order_cd_count %></td>
					<td><%= i.deliver_status %></td>
					<td><%= link_to"レビューする", public_cd_path(o.cd_id) %></td>
				</tr>
			  <% end %>
			</tbody>
		</table>

	</div>
<% end %>


	<div class="pagiWrapper">
	   <%= paginate @orders %>
	</div>

</div>
</div>
</div>

