

<div class="admin-sidebar">
	<%= link_to"受注一覧", admin_orders_path %>
</div>
<div class="admin-sidebar">
	<%= link_to"新規入荷作成", new_admin_cd_path %>
</div>
<div class="admin-sidebar">
	<%= link_to"リスト新規作成", new_admin_list_path %>
</div>
<div class="admin-sidebar">
	<%= link_to"商品管理一覧", admin_cds_path %>
</div>
<div class="admin-sidebar">
	<%= link_to"ユーザー管理一覧", admin_users_path %>
</div>
<div class="admin-sidebar">
	<%= link_to"レビュー一覧", admin_reviews_path %>
</div>
<div class="admin-sidebar">
	<%= link_to"入荷履歴", admin_restocks_path %>
</div>
<div class="admin-sidebar">
	<%= link_to destroy_admin_session_path, method: :delete do %>
	<span>ログアウト</span>
<% end %>
</div>