 <div class="container">
    <div class="row">
       <div class="col-md-6"  style="margin:50px 250px; ">
          <h1>会員情報編集</h1>
              <%= form_for @user, url:public_user_path, method: :patch do |f| %>
                <% if @user.errors.any? %>
                	<% @user.errors.full_messages.each do |m| %>
                		 <%= m %>
                  <% end %>
                <% end %>
                <div class="field">
                    <%= f.label :lastname %><br />
                    <%= f.text_field :lastname, class: 'form-control' %>
                </div>

                <div class="field">
                    <%= f.label :firstname %><br />
                    <%= f.text_field :firstname, class: 'form-control' %>
                </div>

                <div class="field">
                    <%= f.label :lastname_kana %><br />
                    <%= f.text_field :lastname_kana, class: 'form-control' %>
                </div>

                <div class="field">
                    <%= f.label :firstname_kana %><br />
                    <%= f.text_field :firstname_kana, class: 'form-control' %>
                </div>

                <div class="field">
                    <%= f.attachment_field :profile_image %>
                </div>

                <div class="field">
                    <%= f.label :postalcode %><br />
                    <%= f.text_field :postalcode, class: 'form-control' %>
                </div>

                <div class="field">
                    <%= f.label :address %><br />
                    <%= f.text_field :address, class: 'form-control' %>
                </div>

                <div class="field">
                    <%= f.label :phone %><br />
                    <%= f.text_field :phone, class: 'form-control' %>
                </div>

                <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, class: 'form-control' %>
                </div>

                <div class="actions">
                    <%= f.submit "会員情報を編集する" %>
                </div>
              <% end %>
                <div class="text-right">
                <%= link_to "戻る", admin_users_path %>
                </div>
        </div>
    </div>
</div>
