<div class="container">
  <p class="pull-right">表示数1~10件</p>
    <h1>Public気になるリスト！</h1>
      <div class="row">
        <div class="col-md-12">
          <% @interests.each do |interest| %>
            <div class="row">
                <div class="col-md-4">
                  <%= attachment_image_tag interest.cd, :jacket_image, :fill, 100, 100, format: 'jpeg', size: '100x100' %>
                </div>
                <div class="col-md-5">
                  <table>
                      <tr>
                        <td>アーティスト</td>
                        <td><%= interest.cd.artist.artist_name %></td>
                      </tr>
                      <tr>
                        <td>CDタイトル</td>
                        <td><%= interest.cd.cd_title %></td>
                      </tr>
                      <tr>
                        <td>価格</td>
                        <td><%= interest.cd.price %></td>
                      </tr>
                      <tr>
                        <td>リリース日</td>
                        <td><%= interest.cd.release_date.strftime("%m月%d日") %></td>
                      </tr>
                      <tr>
                        <td><%= interest.cd.status %></td>
                      </tr>
                  </table>
                </div>
                <div class="col-md-1">
                    <%= link_to "削除", public_interest_path(interest), method: :delete, data: {confirm: '本当に削除してもいいですか？'} %>
                </div>
                <div class="col-md-2">
                    <%= form_for [:public, @cart_cd_new], url: public_cart_cds_path(cd_id: interest.cd.id) do |f| %>
                      <%= f.number_field :cart_count, value:1, min:1, max:10, size:1 %>
                      <%= f.submit "カートに入れる",class: "btn btn-danger" %>
                    <% end %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    <div class="pagiWrapper">
      <%= paginate @interests %>
    </div>
</div>
