<div class="container">
  <p class="pull-right">表示数1~10件</p>
    <div class="row">
      <div class="col-md-10" style="margin-top: 30px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>気になるリスト</h1>
          </div>
          <% if @user.interests.count == 0 %>
           <div class="text-center"><h3>気になるリストは空です</div>
          <% else %>
          <% @user.interests.each do |interest| %>
            <div class="one-box">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <%= attachment_image_tag interest.cd, :jacket_image, :fill, 100, 100, format: 'jpeg', size: '100x100' %>
                  </div>
                  <div class="col-md-3">
                    <h5>アーティスト</h5>
                    <h5>CDタイトル</h5>
                    <h5>価格</h5>
                    <% if interest.cd.stock == 0 %>
                      <h4><span class="label label-danger">在庫なし</span></h4>
                    <% elsif interest.cd.status == 2%>
                      <h4><span class="label label-warning"><%= cart.cd.status.to_a %></span></h4>
                    <% else %>
                      <h4><span class="label label-success">在庫あり</span></h4>
                      <% end %>
                  </div>
                  <div class="col-lg-3">
                    <h4><%= interest.cd.artist.artist_name %></h4>
                    <h4><%= interest.cd.cd_title %></h4>
                        <% @price = interest.cd.price * @tax %>
                    <h4><%= @price.floor %>円(税込)</h4>
                  </div>
                  <div class="col-lg-1">
                    <%= link_to "削除", public_interest_path(interest), method: :delete %>
                  </div>
                  <div class="col-md-2">
                      <%= form_for [:public, @cart_cd_new], url: public_cart_cds_path(cd_id: interest.cd.id) do |f| %>
                          <%= f.submit "カートに入れる",class: "btn btn-danger" %>
                          <%= f.hidden_field :cart_count, :value => "1" %>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  <div class="pagiWrapper">
      <%= paginate @interests %>
  </div>
</div>
