<h1>Public気になるリスト！</h1>


<div class="container">
   <% @interests.each do |interest| %>
      <div class="col-md-12 margin-top bg-white">
         <%= attachment_image_tag interest.cd, :jacket_image, :fill, 100, 100, format: 'jpeg', size: '100x100' %>
         <%= interest.cd.artist.artist_name %>
         <%= interest.cd.label.label_name %>
         <%= interest.cd.genre.genre_name %>
         <%= interest.cd.cd_title %>
         <%= interest.cd.release_date.strftime("%m月%d日") %>
         <%= interest.cd.price %>
         <%= interest.cd.status %>
         <%= link_to "削除", public_interest_path(interest), method: :delete, data: {confirm: '本当に削除してもいいですか？'} %>
         <%= form_for [:public, @cart_cd_new], url: public_cart_cds_path(cd_id: interest.cd.id) do |f| %>
            <%= f.number_field :cart_count, min:1, max:10, size:1 %>
            <%= f.submit "カートに入れる",class: "btn btn-danger" %>
         <% end %>
      </div>
   <% end %>
</div>