<div class="container">
   <div class="row">
   	 <h3 class="pull-right">表示数1~10件</h3>
        <div class="col-md-3">
		  <% if flash[:notice] %>
		    <div class="flash">
			  <%= flash[:notice] %>
		    </div>
		  <% end %>

	      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, size: '200x200', fallback: "no_image.jpg", class: "img-circle" %>
		    <br>
		    <div class="text-center">
		    	<%= @user.lastname%><%= @user.firstname%>
			 	<%= link_to"ユーザー詳細変更", edit_public_user_path(@user.id), class: 'btn-warning btn-md btn-block' %>
			 	<%= link_to"気になるリスト", public_interests_path %>
			 	<br>
			 	<%= link_to"購入履歴", public_orders_path %>
			</div>
        </div>


	    <div class="col-md-9">
	      <h1>カートの中</h1>
	        <% @carts.each do |cart| %>
	          <div class="row">
	        	<%= attachment_image_tag cart.cd, :jacket_image, :fill, 100, 100, format: 'jpeg', size: '100x100' %>
			        <table>
			        	<tr>
			        		<td>アーティスト</td>
			        		<td>アルバム名</td>
			        		<td>値段</td>
			        	</tr>
			        	<tbody>
			        	<tr>
			        		<td><%= cart.cd.artist.artist_name %></td>
			        		<td><%= cart.cd.cd_title %></td>
			        		<td><%= cart.cd.price %></td>
			        		<td><%= cart.id %></td>
			        		<%= link_to"削除", public_cart_cd_path(cart), method: :delete, data: {confirm: '本当に削除してもいいですか？'} %>
			        	</tr>
			        	</tbody>
			        </table>
		        </div>
	     	<% end %>
	    </div>
    </div>
</div>
<div class="pagiWrapper">
   <%= paginate @users %>
</div>