<div class="container">
  <p class="pull-right">表示数1~10件</p>

  <div class="row">
		<div class="col-md-3">
		  	<% if flash[:notice] %>
		  	<% end %>
		<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="text-center">ユーザー詳細</h3>
		</div>

		<div class="panel-body text-center">
	  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, size: '200x200', fallback: "no_image.jpg", class: "img-circle" %>
		    <div style="padding: 10px 20px;">
		    	<h3><%= @user.lastname%>  <%= @user.firstname%>  様</h3>
		    </div>
		    <div style="padding: 10px 0px;">
			 	<%= link_to"ユーザー詳細変更", edit_public_user_path(@user.id), class: 'btn-warning btn-lg btn-block' %>
			 </div>
			 <div style="padding: 10px 0px;">
			 	<%= link_to"気になるリスト", public_interests_path, class: 'btn-success btn-lg btn-block' %>
			 </div>
			 <div style="padding: 10px 0px;">
			 	<%= link_to"購入履歴", public_orders_path, class: 'btn-info btn-lg btn-block' %>
			</div>
      </div>
      </div>
      </div>

	<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>カートの中
			<% if @user.cart_cds.count == 0 %>
				<div class="text-right"><%= link_to"商品一覧へ", root_path, class: 'btn-primary btn-lg' %></div>
			<% else %>
				<div class="text-right"><%= link_to"購入画面へ進む", public_orders_confirm_path, class: 'btn-danger btn-lg' %></div>
			<% end %>
		</div>
	    <div class="row">
	    	<% if @user.cart_cds.count == 0 %>
				<div class="text-center"><h3>カートには何も入っていません</div>
			<% else %>
	  		<% @user.cart_cds.each do |cart| %>
	  		  <div class="one-box">
		  		  <div class="row">

		          <div class="col-lg-4" style="padding: 0px 20px;">
		        		<%= attachment_image_tag cart.cd, :jacket_image, :fill, 100, 100, format: 'jpeg', size: '120x120' %>
		        	</div>
		          <div class="col-lg-3">
		          	<h5>アーティスト<br>
		          	<h5>CDタイトル<br>
		          	<h5>価格<br>
		          	<% if cart.cd.stock == 0 %>
          				<h4><span class="label label-danger">在庫なし</span></h4>
        				<% elsif cart.cd.status == 2%>
          				<h4><span class="label label-warning"><%= cart.cd.status.to_a %></span></h4>
        				<% else %>
          				<h4><span class="label label-success">在庫あり</span></h4>
        				<% end %>
		          </div>

		          <div class="col-lg-3">
					      <h4><%= cart.cd.artist.artist_name %><br>
								<h4><%= cart.cd.cd_title %><br>
												<% cart.cd.price * @tax %>
					      <h4><%= cart.cd.price.floor %>円(税込)
							</div>

		          <div class="col-lg-2">
						    <%= link_to"削除", public_cart_cd_path(cart), method: :delete, data: {confirm: '本当に削除してもいいですか？'} %>
			     		</div>

			     	</div>
			    </div>
	     	<% end %>
	     	<% end %>
	   	</div>
		</div>

	</div>
	</div>



		<div class="pagiWrapper">
		<%= paginate @users %>
		</div>
	</div>
</div>

